:root {
  --padding: 0px 32px 0px 24px;
}
* {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
}
body {
  height: 100vh;
  height: 100svh;

  margin: 0;
  display: grid;
  place-items: center;
  font-size: clamp(1rem, 2vw, 50%);
  font-weight: 500;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    270deg,
    rgb(55, 61, 63) 0%,
    rgba(52, 232, 158, 1) 100%
  );
}
table {
  width: 100%;
}
thead {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    270deg,
    rgb(55, 61, 63) 0%,
    rgba(58, 9, 121, 1) 22%,
    rgba(0, 212, 255, 1) 100%
  );
}
#desc {
  width: min(60ch, 80%);
}
#amount {
  width: 15ch;
}
thead tr {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}
tbody tr {
  display: grid;
  grid-template-columns: 2fr 1fr 0.5fr 0.5fr;
  justify-items: center;
  align-items: center;
}
tbody tr > * {
  padding: 1rem 0;
}

td:has(.delete) {
  width: fit-content;
}
.alert {
  padding: 5px;
  position: absolute;
  inset: auto;
  border-radius: 10px;
  margin: 5px 0 15px 0;
  font-weight: 800;
  opacity: 0;
  background-color: aliceblue;
  transition: opacity 0.5s ease;
}
.success {
  opacity: 1;
  border: 4px solid green;
}
.error {
  opacity: 1;
  border: 4px solid red;
}
form {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: 600;
  width: 100%;
  & > * {
    margin-top: 1rem;
  }
}
input {
  border-radius: 10px;
  font: inherit;
  font-size: clamp(1rem, 2vw, 50%);
  padding: var(--padding);
}

input:focus-visible {
  outline: blue solid 2px;
}
input[type="date"] {
  font: inherit;
}
button {
  font: inherit;
  font-size: clamp(1rem, 2vw, 50%);
  border-radius: 10px;
  font-weight: 400;
  margin-top: 2rem;
  max-width: 400px;
  padding: var(--padding);
  transition-duration: 0.4s;
}
button:focus-visible {
  outline: blue solid 2px;
}
button:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.delete {
  font-size: 1.5rem;
  color: red;
  &:hover {
    opacity: 0.5;
  }
}
