* {
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100vh;
  text-align: center;
  font-size: clamp(1.5rem, 2.5vw, 4rem);
  font-weight: 500;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(52, 232, 158, 1) 100%
  );
}
h1 {
  margin: 0;
}
thead {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(58, 9, 121, 1) 22%,
    rgba(0, 212, 255, 1) 100%
  );
}
.success,
.error {
  color: white;
  padding: 5px;
  margin: 5px 0 15px 0;
  align-self: center;
}
.success {
  background: green;
}
.error {
  background: red;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.6em;
  margin-bottom: 1rem;
  font-weight: 600;
}
input {
  border-radius: 5px;
  max-width: auto;
  line-height: 1.6em;
  font-size: clamp(1rem, 2.5vw, 2rem);
}
button {
  font-size: clamp(1rem, 2.5vw, 2rem);
  font-weight: 600;
  margin-top: 10px;
  max-width: 400px;
}
#name {
  width: 80%;
}
